#!/usr/bin/make -f
export CGO_ENABLED=0
%:
	dh $@
override_dh_auto_configure:
override_dh_auto_build:
	go build -trimpath -buildvcs=false -ldflags "-X main.Version=0.3.3" -o goconserver goconserver.go
	go build -trimpath -buildvcs=false -ldflags "-X main.Version=0.3.3" -o congo cmd/congo.go
override_dh_auto_install:
	install -D -m 755 goconserver $(CURDIR)/debian/goconserver/usr/bin/goconserver
	install -D -m 755 congo $(CURDIR)/debian/goconserver/usr/bin/congo
	install -D -m 644 etc/goconserver/server.conf $(CURDIR)/debian/goconserver/etc/goconserver/server.conf
	install -D -m 644 etc/systemd/goconserver.service $(CURDIR)/debian/goconserver/lib/systemd/system/goconserver.service
	mkdir -p $(CURDIR)/debian/goconserver/var/log/goconserver
	mkdir -p $(CURDIR)/debian/goconserver/var/lib/goconserver
override_dh_auto_test:
override_dh_auto_clean:
	rm -f goconserver congo
override_dh_dwz:
override_dh_strip:
